<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="counter === 3">{{ title }}</p>
        <p v-else>{{ counterMultiply }}</p>
        <button @click="increaseCounter">+1</button>
        <button v-on:click="decreaseCounter">-1</button>
        <ul>
            <li v-for="user in users">{{ user.name }}</li>
        </ul>
    </div>
    
    <script>
        new Vue({
            el: '#app',
            data: {
                title: 'Hello Vue!',
                counter: 0,
                users:[
                    {name: 'Jon'},
                    {name: 'Sam'} 
                ]
            },
            computed:{
                counterMultiply(){
                    return this.counter * 2
                }
            },
            watch:{
                counter(){
                    //alert('counter was updated')
                }
            },
            methods:{
                increaseCounter(){
                    this.counter++
                },
                decreaseCounter(){
                    this.counter--
                }
            }
        })

    </script>
</body>
</html>